<h1>CENTRO MEDICO VETERINARIO BACKEND</h1>
<h2>LISTADO DE MASCOTAS</h2>
<table>
    <thead>
        <tr>
            <th>Nombre de la mascota</th>
            <th>Nombre del dueño</th>
            <th>Cédula del dueño</th>
            <th>Edad de la mascota</th>
            <th>Teléfono del dueño</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each mascotas}}
        <tr>
            <form action="/mascotas/actualizar/{{cedula_duenio}}" method="post">
                <td><input id="mascota" name="mascota" value="{{nombre}}" {{../opcion}}></td>
                <td><input id="duenio" name="duenio" value="{{nombre_duenio}}" {{../opcion}}>
                </td>
                <td><input id="cedula" value="{{cedula_duenio}}" disabled></td>
                <td><input id="edad" name="edad" value="{{edad}}" {{../opcion}}></td>
                <td><input id="telefono" name="telefono" value="{{telefono_duenio}}" {{../opcion}}></td>
                <td>
                {{#if ../estado}}
                    <a class="eliminar" href="/mascotas/eliminar/{{cedula_duenio}}"><img src="/imagenes/eliminar.png"></a>
                    <a class="editar" href="/mascotas/activar"><img src="/imagenes/editar.png"></a>
                {{else}}
                    <input type="submit" value="Enviar">
                {{/if}}
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>
<div class="opciones-tabla">
<a class="volver" href="/">Volver</a>
<a href="/mascotas/agregar-mascota">Agregar mascota</a>
</div>
